<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: meta-info}"/>
<body>
<div th:replace="~{fragments/header :: navbar}"/>
<div class="container">
    <h1>Добавление сотрудника</h1>
    <form action="#" th:action="@{/employees/adding}"
          th:object="${employee}" method="post">
        <div class = "form-group">
            <label for="nameFormControlInput" class="form-label bold-text">Имя</label>
            <input type="text" class="form-control" id="nameFormControlInput" th:field="*{name}" placeholder="Евгений">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class = "form-group">
            <label for="surnameFormControlInput" class="form-label bold-text">Фамилия</label>
            <input type="text" class="form-control" id="surnameFormControlInput" th:field="*{surname}" placeholder="Ананьев">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        </div>
        <div class = "form-group">
            <label for="patronymicFormControlInput" class="form-label bold-text">Отчество</label>
            <input type="text" class="form-control" id="patronymicFormControlInput" th:field="*{patronymic}" placeholder="Игоревич">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>
        </div>
        <input type="submit" class="btn btn-success" style="margin-top: 1rem; margin-right: 1rem;" value="Добавить"/>
        <input type="reset" class="btn btn-warning" style="margin-top: 1rem;" value="Очистить поле"/>
    </form>
    <a href="javascript:history.back()" class="btn btn-info" style="margin-top: 1rem;">Вернуться назад</a>
</div>
</body>
</html>