<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: meta-info}"/>
<body>
<div th:replace="~{fragments/header :: navbar}"/>
<div  class="container">
  <h1>Выбор программного обеспечения</h1>
  <span th:if="${softwares.size() == 0}"><h2>Список ПО пуст</h2></span>
  <table th:if="${softwares.size() > 0}" class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <td>Наименование</td>
      <td>Предметная область</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="software : ${softwares}">
      <td th:text="${software.name}"/>
      <td th:text="${software.subjectArea != null? software.subjectArea.name : 'Не привязано'}"/>
      <td><a class="btn btn-success" th:href="@{${url} + ${software.id}}">Выбрать</a></td>
    </tr>
    </tbody>
  </table>
  <a href="javascript:history.back()" class="btn btn-info" style="margin-top: 1rem;">Вернуться назад</a>
</div>
</body>
</html>